
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>NutriSaw</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">      
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">NutriSaw</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ><a href="/">Home</a></li>
              <li><a href="/pacientes">Pacientes</a></li>
              <li><a href="/adicionar">Adicionar</a></li>
              <li class="active"><a href="/alterar">Alterar</a></li>
              <li><a href="/excluir">Excluir</a></li>
              <li><a href="/busca-avancada">Busca</a></li>
            </ul>
          </div>
        </div>
      </nav>

     <%console.log(paciente)%>
      <div class="jumbotron">
        <form action="/alterar-selecionado?_method=PUT" method="post">
            <input type="hidden" class="has.warning" name="idpaciente" placeholder="Id" value="<%=paciente[0].idpaciente%>">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input type="text" class="form-control" name="nome" placeholder="Nome" value="<%=paciente[0].nome%>">
            </div>
            <div class="form-group col-xs-6">
                <label for="Sexo">Sexo: </label>
                <br>
                <select name="sexo" id="Sexo" class="col-xs-6">
                  <option value='M'>Masculino</option>
                  <option value='F'>Feminino</option>
                </select>    
            </div>            
            <div class="form-group col-xs-6">
                <label for="Idade">Idade: </label>
                <input type="number" class="form-control" name="idade" placeholder="Idade(em anos)" value="<%=paciente[0].idade%>">
            </div>
            <div class="form-group col-xs-6">
                <label for="Peso">Peso: </label>
                <input type="number" step="0.1"class="form-control" name="peso" placeholder="Peso" value="<%=paciente[0].peso%>">
            </div>
            <div class="form-group col-xs-6">
                <label for="Altura">Altura: </label>
                <input type="number" step="0.01"class="form-control" name="altura" placeholder="Altura(em metros)" value="<%=paciente[0].altura%>">
            </div>            
            <div class="form-group col-xs-6">
                <label for="Imc">Imc: </label>
                <input type="number" step="0.1" class="form-control" name="imc" placeholder="Imc" value="<%=paciente[0].imc%>">
            </div>
            <div class="form-group col-xs-6">
                <label for="Gordura">Gordura: </label>
                <input type="number" step="0.1" class="form-control" name="gordura_corporal" placeholder="Gordura Corporal" value="<%=paciente[0].gordura_corporal%>">
            </div>
            
            <button  type="submit" class="btn btn-default" style="margin-left: 42%; margin-top: 1%">
             Alterar Paciente
            </button>
        </form>
      </div>
    </div>
  </body>
</html>
